@mixin ellipsis ($i) {
  @if ($i == 1) {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $i;
    overflow: hidden;
  }
}