// 变量命名规则 ---
$btn-bg-normal-color: #2196f3;
$btn-bg-cancel-color: #fff;
$btn-bg-success-color: #1e8000;

$border-normal-color: #dcdcdc;
$border-warn-color: #ff1300;

$font-normal-size: 14px;
$font-small-size: 12px;
$font-big-size: 16px;
$font-bigger-size: 18px;
$font-large-size: 20px;


